
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Be Vietnam Pro", sans-serif;
}

:root
{
    --bg-orange : #e84949;
}

#wrapper
{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container
{
    width: 1200px;
    margin: 0 auto;    
}

.navbar
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.logo-container
{
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.logo
{
    width: 80px;

}

.logo-text
{
    margin-left: -1.2rem;
    font-size: 28px;
}

.nav-items
{
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
}

.nav-items div
{
    font-size: 20px;
    font-weight: 500;
    transition: all 0.8s;
}

.nav-items div a
{
    color: black;
}

.nav-items div:hover
{
    font-weight: bold;
}

a
{
    text-decoration: none;
}

.hero-section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap:5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.faded-text
{
    user-select: none;
    font-size: 7rem;
    color: rgb(231, 231, 231);
    position: absolute;
    bottom: -16%;
    left: -2%;
    font-weight: bold;
    transition: all 3s;
    
}

.hero-section-left
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.hero-section-heading
{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.role
{
    color: #4e45d5;
    font-weight: 800;
}

.hero-section-sub-heading
{
    font-size: 45px;
    line-height: 45px;
}

.hero-section-description
{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.hero-section-button
{
    background-color: rgb(219, 82, 82);;
    padding: 0.8rem 2.3rem;
    color: white;
    font-size: 18px;
    box-shadow: 3px 3px 7px 0 #0000003f;
    position: relative;
    z-index: 1;
}

.hero-section-button::before
{
    content: "";
    background-color: #1f1f1f;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    transform: scaleX(0);
}

.hero-section-button:hover
{
    cursor: pointer;
}

.hero-section-button:hover::before
{
    transition: transform 1s ease-in-out;
    transform: scaleX(1);
    transform-origin: left;
    z-index: -1;
}


.hero-section-right
{
    position: relative;
}

.absolute
{
    position: absolute;
    z-index: 5;
}

.user-image
{
    padding: 2.5rem;
    filter: grayscale(1);
    animation: scale-in-scale-out 5s linear 0s infinite alternate;

    box-shadow: 3px 3px 3px 0 black, -3px -3px -3px 0 black;
}

@keyframes scale-in-scale-out {
    0%
    {
        transform: scale(1);
        filter: grayscale(0);
        box-shadow: 3px 3px 10px black;
    }

    50%
    {
        transform: scale(1.1);
        filter: grayscale(1);
    }

    100%
    {
        transform: scale(1);
        filter: grayscale(0);
    }    
}

.icons-dots
{
    right: 0;
    bottom:-1rem;
    animation: translate-y 2s linear 0s infinite alternate;
}

@keyframes translate-y {
    0%
    {
        transform: translateY(0);
    }

    50%
    {
        transform: translateY(-15px);
    }

    100%
    {
        transform: translateY(0);
    }
    
}

.icons-cube
{
    right: 1em;
    top: -0.8em;
    animation: rotateY 2s linear 0s infinite normal;
}

@keyframes rotateY {
    0%
    {
        transform: rotateY(0deg) translateY(0);
    }

    50%
    {
        transform: rotateY(180deg) translateY(-15px);        
    }
    100%
    {
        transform: rotateY(360deg) translateY(0); 
    }
    
}

.icons-circle
{
    left:0;
    bottom:0;
    animation: shake-effect 6s linear 0s infinite alternate ;
}


@keyframes shake-effect {
    0%
    {
        left:0;
        bottom:0;
    }

    50%
    {
        left:5%;
        bottom: 10%;
    }

    100%
    {
        left: 0%;
        bottom:0%;
    }
}

.icons-zigzag
{
    left:-0.3em;
    top:1.5em;
    animation: zigzag 5s ease-in 0s infinite alternate ;
}

@keyframes zigzag {
    50%
    {
        left: 5%;
        top: 2%;
    }
}

.icons-plus
{
    left:50%;
    top:-0.8rem;
    animation: shake-effect-plus 5s ease-in 0s infinite alternate ;
}

@keyframes shake-effect-plus {
    50%
    {
        top: 3%;
        left: 48%;
    }   
}


.project-section
{
    background-color: rgb(231, 231, 231);
    margin: 4rem 0;
}

.page-header
{
    text-align: center;
    color: var(--bg-orange);
    font-size: 90px;
    padding-top: 30px;
}

.project-container
{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    gap: 120px;
}


.project-card
{
    width: 90%;
    height: 550px;
    background-image: url(./images/projects/Project1.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
    
}

.project-card::after
{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #1f1f1f9A;
    transform: scaleX(1);
    z-index: 0;
}

.project-card::before
{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transition: transform 0.4s ease-in-out;
    transform-origin: left;
    z-index: 1;
    transform: scaleX(0);
}



.project-card:hover::before
{
    transform: scaleX(1);
}

.project-number
{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 200px;
    font-weight: 600;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.project-card:hover .project-number
{
    opacity: 1;;
}


.project-number-right
{
    right: -40px;
    top:-45px;
}

.project-number-left
{
    left: -40px;
    top:-45px;
}


.project-content
{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;

    padding: 2em;
    bottom: 20%;
    z-index: 5;
    gap: 1em;
    transition: all 0.4s ease-in-out;
}


.project-content-left
{
    left: 10%;
}

.project-content-right
{
    left: 40%;
}

.project-skills-container
{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.project-skills
{
    width: 40px;
}

.project-heading
{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}


.project-sub-heading
{
    width: 70%;
    font-size: 16px;
    font-style: italic;
    transition: all 0.4s ease-in-out;
}

.btn-group
{
    display: flex;
    align-items: center;
    gap: 0.9rem;
}


.icon
{
    cursor: pointer;
    color: white;
    font-size: 35px;
    transition: color 0.5s ease-in;
}

.icon:hover
{
    color: var(--bg-orange);
}


.project-container:hover .project-content
{
    transform: scale(1.1);
}

#project1
{
    background-image: url(./images/projects/Project1.png);
    align-self: flex-start;
}


#project2
{
    background-image: url(./images/projects/Project2.png);
    align-self: flex-end;
}

#project3
{
    background-image: url(./images/projects/Project3.png);
    align-self: flex-start;
}

#project4
{
    background-image: url(./images/projects/Project4.png);
    align-self: flex-end;
}


@media (max-width:900px) {
    #project1
    {
        align-self: center;
    }
    #project2
    {
        align-self: center;
    }
    #project3
    {
        align-self: center;
    }
    #project4
    {
        align-self: center;
    }
}


.skills-container
{
    display: flex;
    position: relative;
    padding: 5rem;
    margin: 10rem auto;
    gap: 30px;    
    justify-content: center;
    align-items: center;
}

.skills-fade-text
{
    position: absolute;
    right: -2%;
    bottom: -35.5%;
    user-select: none;
    font-size: 15em;
    font-weight: bold;
    color: rgb(231, 231, 231);
    overflow-y: hidden;
}


.skills-container-left
{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.skills-container-right
{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.blob-style
{
    position: absolute;
    top: 50%;
    left: 30%;
    z-index: -1;
    height: 50%;
    width: 50%;
    animation: blobAnimate 5s linear 0s infinite alternate;
}

@keyframes blobAnimate {
    50%
    {
        top: 54%;
        left: 36%;
    }
    
}


.skills-logo
{
    width: 100px;
    height: 100px;
    transition: transform 1s ease-in-out;
}

.skills-logo:hover
{
    transform: scale(1.2);
}


.skills-heading
{
    color: var(--bg-orange);
    font-size: 50px;
    font-weight: bold;
    line-height: 50px;    
}

.caps
{
    font-size: 90px;
}

.skills-sub-heading
{
    margin-top: 1rem;
    width: 85%;
    text-align: justify;
}

.skills-sub-heading p
{
    margin: 15px 0;
}

.contact-me-container
{
    width: 100%;
    background-color: rgb(231, 231, 231);
}

.contact-me-heading
{
    font-size: 5em;
    color: var(--bg-orange);
    padding-top: 2rem;
}


.contact-me-sub-heading
{
    font-size: 3rem;
    color: #343d68aa;
    text-transform: capitalize;
}

.contact-me-form-container
{
    margin-top: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.form
{
    margin: 2rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
}

.form-field-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.form-field
{
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    border: none;
}

.form-field-text-area
{
    height: auto;
    padding-top: 1rem;
}


.form-field-final-button
{
    border: none;
    font-size: 1.4rem;
    margin: 1rem 0;
    transition: transform 0.5s ease-in-out;
}

.form-field-final-button:hover
{
    transform: scale(0.8);
}

.submit-icon
{
    padding: 0 1rem;
    font-size: 1.5rem;
}


.footer
{
    position: relative;
    width: 100%;
    margin-top: -1px;
    background-color: #343d68;
    padding: 5rem;
}

.footer-wrapper
{
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
    align-items: center;
}

.footer-faded-text
{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #535c87;
    font-size: 5em;
    user-select: none;
}


.footer-link-wrapper
{
    display: flex;
    gap: 1.2rem;
}

.footer-link-wrapper div a
{
    color: white;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
}

.footer-link-wrapper div a:hover
{
    color : var(--bg-orange);
}

.footer-icon-wrapper
{
    display: flex;
    gap: 1.2rem;
}

.footer-icon-wrapper i
{
    color: white;
    font-size: 25px;
    transition: color 0.5s ease-in-out;
}

.footer-icon-wrapper i:hover
{
    color : red;
}
