
.card:hover .top-image
{
    transition: all 200ms;    
    background-color: lightblue;
}

.card:hover .stroke-boder
{
    transition: all 200ms;
    filter: drop-shadow( 4px 4px 12px rgba(0, 0, 0, .7));
}


  
